:root {
  --color-primary: #000080;
  --color-primary-light: #5dade2;
  --color-primary-dark: #1b4f72;
  --color-grey-light-1: #ffff;
  --color-grey-light-4: #ccc;
  --color-grey-dark-2: #fdfefe;
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.btn {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  width: 200%;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  overflow: hidden;
  cursor: pointer; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    transform: translateY(2%); }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.logo {
  box-sizing: content-box;
  margin-left: 2rem;
  float: left;
  height: 3rem;
  justify-self: left;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 3px solid #fff; }

p {
  margin-right: 50%;
  color: #f7f9f9;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase; }

.legal {
  font-size: 1.2rem;
  color: var(--color-primary);
  text-align: center;
  padding: 2.5rem; }

.footer {
  display: grid;
  grid-gap: 1rem;
  grid-column: full-start/sidebar-end;
  grid-row: 5/-1;
  background-color: #515a5a;
  justify-content: center;
  text-align: center;
  padding: 3.5rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  grid-column: full-start/sidebar-end;
  grid-row: 1/2;
  justify-content: space-between;
  align-items: center;
  background-color: --color-grey-dark-1;
  background-image: linear-gradient(rgba(208, 211, 212, 0.93), rgba(208, 211, 212, 0.93)); }
  @media only screen and (max-width: 56.25em) {
    .header {
      grid-column: full-start/sidebar-end; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-sizing: var(--shadow-dark);
  min-height: 50rem; }

.content {
  display: grid;
  grid-template-rows: 7rem 50vh min-content 50vw minmax(min-content, 15rem);
  grid-template-columns: [full-start] 8rem [full-end center-start] minmax(6rem, 1fr) [center-end] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [sidebar-start] minmax(6rem, 1fr) [sidebar-end]; }
  @media only screen and (max-width: 68.75em) {
    .content {
      display: grid;
      grid-template-rows: 6rem 80vh min-content 80vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 56.25em) {
    .content {
      grid-template-rows: 6rem calc(100vh-6rem) min-content min-content 80vw repeat(3, min-content); } }

.sidebar {
  background-color: #212f3c;
  grid-column: -1;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  justify-self: center; }
  @media only screen and (max-width: 68.75em) {
    .sidebar {
      grid-column: 1/-1;
      grid-row: 1/2;
      position: sticky;
      top: 0.1rem;
      z-index: 8;
      justify-content: flex-end;
      align-items: center; } }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 8rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link {
    position: relative; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    padding-left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    position: relative; }

.navigation {
  background-color: var(--color-primary-dark);
  grid-column: full-start/-1;
  position: absolute;
  top: 15.2rem;
  backdrop-filter: blur(12px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s; }
  .navigation:target {
    opacity: 1;
    visibility: visible; }
  .navigation > * {
    cursor: pointer; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    margin: 1rem; }
    .navigation__item:not(:last-child) {
      padding-top: 2px; }
  .navigation__link {
    margin-left: 100rem; }
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.5rem;
      font-weight: 300;
      color: #f9f7f6;
      text-decoration: none;
      text-transform: uppercase; }
    .navigation__link:hover, .navigation__link:active {
      font-weight: 800;
      color: #212f3c; }
  .navigation__close {
    color: greenyellow; }
    .navigation__close:link, .navigation__close:visited {
      position: absolute;
      bottom: 10.2rem;
      left: 1rem;
      height: 2rem;
      width: 2rem;
      font-size: 2.8rem;
      text-decoration: none;
      z-index: 10000;
      font-weight: 300;
      transition: all 0.2s; }
