.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-sizing: var(--shadow-dark);
  min-height: 50rem;
}

.content {
  // z-index: -2;
  display: grid;
  grid-template-rows: 7rem 50vh min-content 50vw minmax(min-content, 15rem);
  grid-template-columns:
    [full-start] 8rem
    [full-end center-start] minmax(6rem, 1fr)
    [center-end] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [sidebar-start] minmax(6rem, 1fr)
    [sidebar-end];
  @media only screen and (max-width: $bp-large) {
    display: grid;
    grid-template-rows: 6rem 80vh min-content 80vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr)
      [full-end];
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh-6rem) min-content min-content 80vw repeat(
        3,
        min-content
      );
  }
}
