.navigation {
  background-color: var(--color-primary-dark);
  grid-column: full-start/-1;
  position: absolute;
  top: 15.2rem;
  backdrop-filter: blur(12px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &:target {
    opacity: 1;
    visibility: visible;
  }
  // &:target:hover {
  //   opacity: 0;
  // }

  & > * {
    cursor: pointer;
  }

  &__list {
    list-style: none;
  }
  &__item {
    margin: 1rem;
    &:not(:last-child) {
      padding-top: 2px;
    }
  }
  &__link {
    margin-left: 100rem;
    // margin-right: 50rem;
    &:link,
    &:visited {
      font-size: 1.5rem;
      font-weight: 300;
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
    }
    &:hover,
    &:active {
      font-weight: 800;
      color: $color-primary;
    }
  }

  &__close {
    color: greenyellow;
    &:link,
    &:visited {
      position: absolute;
      bottom: 10.2rem;
      left: 1rem;
      height: 2rem;
      width: 2rem;
      font-size: 2.8rem;
      text-decoration: none;
      z-index: 10000;
      font-weight: 300;
      transition: all 0.2s;
    }
  }
}
